{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Lista Colabs</title>
    <link rel="icon" href="{% static 'img/logo-sci-site.png'%}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css" rel="stylesheet" />
    <style>
      body {
        scrollbar-width: none; /* Para navegadores Firefox */
        -ms-overflow-style: none; /* Para navegadores Internet Explorer e Edge */
      }

    /* Estilo da scrollbar para navegadores WebKit */
    body::-webkit-scrollbar {
      display: none;
    }
    </style>
</head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2d3560;">
          <!-- Container wrapper -->
          <div class="container">
          <!-- Navbar brand -->
          <a class="navbar-brand me-2" href="{% url 'dashboard' %}" >
              <img
              width="150px"
              src="https://www.sci.com.br/arquivo/banner/56/95294737.png"
              alt="MDB Logo"
              loading="lazy"
              style="margin-top: -1px;"
              />
          </a>
      
          <!-- Toggle button -->
          <button
              class="navbar-toggler"
              type="button"
              data-mdb-toggle="collapse"
              data-mdb-target="#navbarButtonsExample"
              aria-controls="navbarButtonsExample"
              aria-expanded="false"
              aria-label="Toggle navigation"
          >
              <i class="fas fa-bars"></i>
          </button>
      
          <!-- Collapsible wrapper -->
          <div class="collapse navbar-collapse" id="navbarButtonsExample">
              <!-- Left links -->
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      
                  </li>
              </ul>
              <!-- Left links -->
      
              <div class="d-flex align-items-center">
              <a href="{% url 'gerar_relatorios' %}" class="px-3 me-2" style="color: white;">
                  RELATÓRIOS
              </a>
              <a href="{% url 'mostra_produtos' %}" class="px-3 me-2" style="color: white;">
                  PRODUTOS
              </a>
              <a href="{% url 'mostra_estoque' %}" class="px-3 me-2" style="color: white;">
                  ESTOQUE
              </a>
              <a href="{% url 'mostra_colabs' %}" class="px-3 me-2" style="color: white;">
                  COLABORADORES
              </a>
              {% if user.is_superuser %}
              <a href="{% url 'mostra_usuario' %}" class="px-3 me-2" style="color: white;">
                  USUÁRIOS
              </a>
              {% endif %}
              <a href="{% url 'logout' %}" class="btn btn-secondary me-3" style="background-color: white;">
                  Logout
              </a>
              </div>
          </div>
          <!-- Collapsible wrapper -->
          </div>
          <!-- Container wrapper -->
      </nav>
      <!-- Navbar -->

      <div class="container d-flex justify-content-center align-items-center">
        <div class="row justify-content-center">
            <div class="col justify-content-center">
                {% if messages %}
                    <div class="justify-content-center align-items-center" style="height: 100vh; position: fixed; top: 100px; left: 44.5%;">
                        <div class="alert alert-danger mt-4" role="alert"
                             style="padding: 6px; width: 200px; text-align: center; border-top: 7px solid red;">
                            {% for message in messages %}
                                {% if message.tags == 'success' %}
                                    {{ message }}
                                {% elif message.tags == 'error' %}
                                    {{ message }}
                                {% else %}
                                    <p>{{ message }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
        <div class="container mt-5 mb-7">
          <a href="{% url 'mostra_estoque'%}" class="btn btn-primary mb-3" style="box-shadow: none; background-color: #2d3560; font-weight: 800;">Voltar</a>
          <div class="row">
              <div class="col col-lg">
                <form method="get">
                    <table class="table align-middle" style="margin-bottom: 100px;">
                        <thead style="background-color: #2d3560; color: white; font-size: 15px;">
                        <tr>
                            <th><strong>PRODUTO</strong></th>
                            <th><strong>TIPO</strong></th>
                            <th><strong>QUANTIDADE</strong></th>
                            <th><strong>DATA</strong></th>
                            <th><strong>USUARIO</strong></th>
                            <th><strong>AÇÕES</strong></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div class="form-outline" style="width: 150px; outline: #2d3560;">
                                    <input name="filtro_nome" type="text" id="formControlDefault" class="form-control"/>
                                    <label class="form-label" for="formControlDefault">Produto</label>
                                </div>
                            </td>
                            <td>
                              <select name="filtro_tipo" class="form-select form-select-md" aria-label=".form-select-lg example" style="width: 130px;">
                                <option selected>Tipo</option>
                                <option value="entrada">Entrada</option>
                                <option value="saida">Saida</option>
                              </select>
                            </td>
                            <td>
                              <div class="form-outline" style="width: 150px; outline: #2d3560;">
                                  <input name="filtro_quantidade" type="number" id="formControlDefault" class="form-control"/>
                                  <label class="form-label" for="formControlDefault">Quantidade</label>
                              </div>
                            </td>
                            <td>
                              <div class="form-outline" style="width: 150px; outline: #2d3560;">
                                <input name="filtro_data" type="date" id="formControlDefault" class="form-control"/>
                                <label class="form-label" for="formControlDefault">Data</label>
                              </div>
                            </td>
                            <td>
                              <div class="form-outline" style="width: 150px;">
                                  <input name="filtro_usuario" type="text" id="formControlDefault" class="form-control"/>
                                  <label class="form-label" for="formControlDefault">Usuario</label>
                              </div>
                            </td>
                            <td>
                                <input
                                        type="submit"
                                        class="btn btn-link btn-rounded btn-sm fw-bold"
                                        data-mdb-ripple-color="dark"
                                        style="color:#2d3560;"
                                        value="FILTRAR"
                                        >
                            </td>
                        </tr>
                        {% for produto in estoque %}
                            <tr style="font-size: 17px;">
                                <td>
                                <div class="d-flex">
                                    <p class="fw-bold mb-1">{{produto.nome_produto}}</p>
                                </div>
                                </td>
                                <td>
                                <p class="fw-normal mb-1">{{produto.tipo}}</p>
                                </td>
                                <td>
                                  <p class="fw-normal mb-1">{{produto.quantidade}}</p>
                                </td>
                                <td>
                                  <p class="fw-normal mb-1">{{produto.data_hora}}</p>
                                </td>
                                <td>
                                  <p class="fw-normal mb-1">{{produto.usuario}}</p>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                  </form>
                  </div>
              </div>
          </div>
            

        <footer class="text-center text-lg-start bg-white text-muted fixed-bottom" style="border-top: 10px solid rgb(218, 203, 0);">
          <!-- Copyright -->
          <div class="text-center p-4" style="background-color: #2d3560; color: white;">
            © 2023 Copyright:
            <a class="text-reset fw-bold">SCI Sistemas Contábeis</a>
          </div>
          <!-- Copyright -->
        </footer>

        {% if messages %}
        <div class="popup">
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <p class="success">{{ message }}</p>
                {% elif message.tags == 'error' %}
                    <p class="error">{{ message }}</p>
                {% else %}
                    <p>{{ message }}</p>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}

        <script>
          var input = document.querySelector('.busca-produto input[type="text"]');
          var table = document.querySelector('table');

          input.addEventListener('input', function() {
            var searchText = input.value.toLowerCase();

            var rows = table.querySelectorAll('tr:not(:first-child)');

            rows.forEach(function(row) {
              var name = row.cells[0].textContent.toLowerCase(); 

              if (name.includes(searchText)) {
                row.style.display = '';
              } else {
                row.style.display = 'none';
              }
            });
          });
        </script>
        <script>
          const successMessage = document.querySelector('.alert');
          const errorMessage = document.querySelector('.alert');

          if (successMessage) {
              const duration = 3000;

              setTimeout(function() {
                  successMessage.style.display = 'none';
              }, duration);
          }

          if (errorMessage) {
              const duration = 3000;

              setTimeout(function() {
                  errorMessage.style.display = 'none';
              }, duration);
          }
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js">
      </script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous">
        </script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>