@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
.realiza-compra {
    display: flex;
    margin-top: 100px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.realiza-compra input[type='text'] {
    padding: 12px;
    width: 300px;
    border: 1px solid #2d3560;
    border-radius: 5px;
    outline: none;
    transition: 0.2s;
}

.realiza-compra input[type='submit'] {
    padding: 0;
    width: 45px;
    height: 45px;
    color: white;
    background-color: #2d3560;
    border-radius: 5px;
    transition: 0.2s;
    margin-left: 5px;
    font-size: 30px;
    cursor: pointer;
}

table {
    margin-top: 50px;
    border-collapse: collapse;
    max-height: 1000px;
}

th{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
    color: white;
}

td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #2d3560;
    font-size: 20px;
    color: #2d3560;
}

.td-final{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #2d3560;
    font-size: 20px;
    background-color: #e7e7e7;
    color: white;
}

th {
    background-color: #2d3560;
}

.tabela {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    position: relative;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-compra-finalizada {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #dbe7fd;
    padding: 50px;
    border: 1px solid #888;
    width: 400px;
    height: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

  .popup {
    position: fixed;
    top: 120px;
    right: 50px;
    border-radius: 5px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.3s;
    z-index: 999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

.popup .error{
  background-color: #2d3560;
  color: white;
  padding: 10px;
  width: 270px;
}

.popup .fade-out {
    opacity: 0;
}

.tabela {
    position: sticky;
    top: 0;
    background-color: white;
}


.botao-compra {
    margin-top: 10px;
    width: 100px;
    height: 40px;
    font-size: 16px;
    background-color: #2d3560;
    outline: none;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin-left: 2px;
    cursor: pointer;
}

.botao-gasto {
    width: 100px;
    height: 40px;
    font-size: 16px;
    background-color: white;
    border: 1px solid #2d3560;
    color: #2d3560;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 2px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 8px solid rgb(214, 214, 0) ;
    background-color: #2d3560;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
  }
  
  .direitos{
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
  }

  a {
      text-decoration: none;
  }
  
  .botoes-nav {
      color: white;
      text-decoration: none;
      transition: 0.3s;
      font-weight: 600;
      letter-spacing: 1px;
  }
  
  .botoes-nav:hover {
      opacity: 0.7;
      border-bottom: 2px solid white;
  }
  
  .logo {
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 4px;
      margin-top: 100px;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    margin-bottom: 20px;
  }

  nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
      background: #2d3560;
      height: 8vh;
      color: white;
      font-size: 30px;
      font-weight: 600;
      border-bottom: 8px solid rgb(214, 214, 0) ;
  }


  .modal-quantidade{
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .editar-quantidade {
    display: flex;
    flex-direction: column; /* Adicionado */
    position: fixed;
    border-top: 20px solid hsl(231, 36%, 28%);
    color: #2d3560;
    background-color: #d7d7d7;
    width: 400px;
    height: 260px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(1, 1, 1, 1);
    padding: 5px;
  }
  
    .input-quantidade{
    padding: 10px;
    margin: 0 auto;
    display: flex;
    width: 180px;
    height: 18px;
    color: #2d3560;
    font-size: 15px;
    outline-color: #2d3560;
  }
  
    .botao-modal-adiciona {
    margin-top: 10px; /* Ajustado */
    width: 100px;
    height: 40px;
    font-size: 16px;
    background-color: #2d3560;
    outline: none;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin-left: 2px;
    cursor: pointer;
  }
  
    .botao-modal-fecha {
    width: 100px;
    height: 40px;
    font-size: 16px;
    background-color: white;
    border: 1px solid #2d3560;
    color: #2d3560;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 2px;
  }
  
    .botao-adiciona-qtd{
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
    .botoes-modal-qtd{
    margin-top: 10px;
  }
  .padding-botoes{
    margin-bottom: 10px;
  }