@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ffffff;
}

.btn2 {
    background: #295eba;
    background-image: -webkit-linear-gradient(top, #295eba, #1f468e);
    background-image: -moz-linear-gradient(top, #295eba, #1f468e);
    background-image: -ms-linear-gradient(top, #295eba, #1f468e);
    background-image: -o-linear-gradient(top, #295eba, #1f468e);
    background-image: linear-gradient(to bottom, #295eba, #1f468e);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 50px;
    height: 20px;
}

.btn2:hover {
    background: #295eba;
    background-image: -webkit-linear-gradient(top, #295eba, #295eba);
    background-image: -moz-linear-gradient(top, #295eba, #295eba);
    background-image: -ms-linear-gradient(top, #295eba, #295eba);
    background-image: -o-linear-gradient(top, #295eba, #295eba);
    background-image: linear-gradient(to bottom, #295eba, #295eba);
    text-decoration: none;
}

table {
    margin-top: 50px;
    border-collapse: collapse;
    width: 50%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
}

th {
    background-color: #dbe7fd;
}

.tabela {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    position: relative;
}

.btn-adicionar {
    background: #1f468e;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    text-align: center;
    width: 50px;
    height: 40px;
    margin-bottom: 30px;
    outline: none;
}

.container-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.container-form form {
    margin-top: 20px;
}

/* .container-form input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
select{
    margin-bottom: 10px;
    padding: 12px;
    width: 300px;
    border: 1px solid #1f468e;
    border-radius: 5px;
    outline: none;
    transition: 0.2s;
    letter-spacing: 1px;
} */

.container-form .checbox {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 10px;
  }


 .botoes-editar{
    margin-top: 10px;
    background-color: #1f468e;
    font-size: 17px;
    text-decoration: none;
    color: white;
    padding: 5px;
    width: 95px !important;
    border-radius: 7px;
 }

 .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
  }

  input[type="submit"] {
    border: none;
    background-color: #1f468e; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    /* Adicione outros estilos personalizados conforme necessário */
  }

  .container-form input[type="checkbox"] {
    /* Outras propriedades CSS... */
    transform: scale(1.2); /* Aumenta o tamanho da caixa de seleção em 1.5 vezes */
    margin-left: 10px;
  }

  .situacao-funcionario{
    margin-top: 10px;
  }

  .popup {
    position: fixed;
    top: calc(8vh + 20px);
    right: 100px;
    border-radius: 5px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.3s;
    z-index: 999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

.popup .sucess{
  background-color: green;
  padding: 10px;
  width: 270px;
}
.popup .error{
  background-color: #1f468e;
  color: white;
  padding: 10px;
  width: 270px;
}

.popup .fade-out {
    opacity: 0;
}
  

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 8px solid rgb(214, 214, 0) ;
    background-color: #2d3560;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
  }
  
  .direitos{
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
  }