@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }

  body {
    background-color: #eaeaea;
  }

  .btn {
    background: white;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    outline: none;
    color: #2d3560;
    font-weight: 500;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 50px;
    height: 20px;
  }

  .btn:hover {
    background: white;
    text-decoration: none;
  }

  table {
    margin-top: 15px;
    border-collapse: collapse;
    width: 50%;
    border: 1px solid #2d3560;
  }

  th{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
    color: white;
  }
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #2d3560;
    font-size: 20px;
    color: black;
  }

  th {
    background-color: #2d3560;
  }

  .tabela {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    position: relative;

  }

  .btn-adicionar {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    position: absolute;
    bottom: -50px;
    left: 25%;
    background: #2d3560;
    border-radius: 5px;
    color: #ffffff;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    outline: none;
  }
  
  .btn-barra-pesquisa{
    text-align: center;
    background: #2d3560;
    border-radius: 5px;
    color: #ffffff;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    outline: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    vertical-align: bottom;
    align-items: center;
    margin-top: 20px;
    width: 50%;
    margin: 0 auto;
  }
  
  .quantidade {
    order: 2;
    margin-top: 5px;

  }
  
  .busca-produto {
    order: 1; 

  }
  
  .busca-produto input[type='text'] {
    padding: 5px;
    width: 200px;
    height: 20px;
    border: 1px solid #2d3560;
    border-radius: 5px;
    outline: none;
    transition: 0.2s;
    letter-spacing: 1px;
  }

  .popup {
    position: fixed;
    top: calc(8vh + 20px);
    right: 80px;
    border-radius: 5px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.3s;
    z-index: 999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

.popup .sucess{
  background-color: green;
  padding: 10px;
  width: 270px;
}
.popup .error{
  background-color: #2d3560;
  color: white;
  padding: 10px;
  width: 270px;
}

.popup.fade-out {
    opacity: 0;
}
  
  