{% load static %}
<html>
<head>
    <title>Relatório de Compras</title>
    <style>
        body {
            flex-direction: column;
        }
        
        table {
            border-collapse: collapse;
        }
        
    </style>
</head>
<body>
    <img width="400px" src="{% static 'img/logo-sci.png'%}">
    <h1>Relatório de Vendas</h1>
    

    <h2>Produto: {{ produto.nome }}</h2>
    <h3>Vendas:</h3>
    <table>
        <thead>
            <tr>
                <th style="text-align: left;">Data e Hora</th>
                <th style="text-align: left;">Codigo de Barras</th>
                <th style="text-align: left;">Quantidade</th>
                <th style="text-align: right;">Preço Vendido</th>
            </tr>
        </thead>
        <tbody>
            {% for item in itens_compra %}
                <tr>
                    <td style="text-align: left;">{{ item.compra.data_compra }}</td>
                    <td style="text-align: left;">{{ item.produto.codigo_de_barras }}</td>
                    <td style="text-align: left;">{{ item.quantidade }}</td>
                    <td style="text-align: right;">{{ item.preco_individual }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Total de vendas: {{ venda_total }}</h2>
    <h2>Quantidade de vendas: {{ quantidade_vendida }}</h2>

</body>
</html>
