{% load static %}
<html>
<head>
    <title>Relatório de Compras</title>
    <style>
    </style>
</head>
<body>
    <h1>Relatório de Compras</h1>
    
    <h2> Funcionario: {{funcionario.nome}}</h2>
    <h2>Período: {{ data_inicial|date:"d/m/Y" }} - {{ data_final|date:"d/m/Y" }}</h2>
    <h3>Compras realizadas:</h3>
    <table>
        <thead>
            <tr>
                <th style="text-align: left;">Data e Hora</th>
                <th style="text-align: left;">Produto</th>
                <th style="text-align: left;">Quantidade</th>
                <th style="text-align: right;">Preço Individual</th>
            </tr>
        </thead>
        <tbody>
            {% for compra in compras %}
                {% for item in compra.itemcompra_set.all %}
                    <tr>
                        <td style="text-align: left;">{{ compra.data_compra }}</td>
                        <td style="text-align: left;">{{ item.produto.nome }}</td>
                        <td style="text-align: left;">{{ item.quantidade }}</td>
                        <td style="text-align: right;">{{ item.preco_individual }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
                    <tr>
                        <td style="text-align: left;">Valor total:</td>
                        <td style="text-align: left;"></td>
                        <td style="text-align: left;"></td>
                        <td style="text-align: right;">{{ venda_total_formatada }}</td>
                    </tr>
        </tbody>
        
    </table>
</body>
</html>
