{% load static %}
<html>
<head>
    <title>Relatório de Compras</title>
    <style>
    </style>
</head>
<body>
    <img width="400px" src="{% static 'img/logo-sci.png'%}">
    <h1>Relatório de Compras</h1>
    <h2>Período: {{ data_inicial|date:"d/m/Y" }} - {{ data_final|date:"d/m/Y" }}</h2>
    <h3>Compras realizadas:</h3>
    <table>
        <thead>
            <tr>
                <th style="text-align: left;">Data e Hora</th>
                <th style="text-align: left;">Colaborador</th>
                <th style="text-align: left;">Produto</th>
                <th style="text-align: left;">Quantidade</th>
                <th style="text-align: right;">Preço Individual</th>
            </tr>
        </thead>
        <tbody>
            {% for compra in compras %}
                {% for item in compra.itemcompra_set.all %}
                    <tr style="margin-bottom: 3px;">
                        <td style="text-align: left;">{{ compra.data_compra }}</td>
                        <td style="text-align: left;">{{ compra.colab_id.nome }}</td>
                        <td style="text-align: left;">{{ item.produto.nome }}</td>
                        <td style="text-align: left;">{{ item.quantidade }}</td>
                        <td style="text-align: right;">R$ {{ item.preco_individual }}0</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
