{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lista Produtos</title>
    <link rel="stylesheet" href="{% static 'css/telas_listagem.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css'%}">
    <link rel="icon" href="{% static 'img/logo-sci-site.png'%}" type="image/x-icon">
  </head>
  <body>
    <header>
      <nav style="margin-bottom: 30px;">
        <a class="logo" href="{% url 'dashboard' %}"><img width="200px" src="{% static 'img/logo-sci.png'%}"></a>
        <ul class="nav-list">
        <li><a class="botoes-nav" href="{% url 'gerar_relatorios' %}">Relatórios</a></li>
        <li><a class="botoes-nav" href="{% url 'mostra_colabs' %}">Colaboradores</a></li>
        {% if user.is_superuser %}
        <li><a class="botoes-nav" href="{% url 'mostra_usuario' %}">Usuários</a></li>
        {% endif %}
        <li><a class="botoes-nav" href="{% url 'mostra_produtos' %}">Produtos</a></li>
        <li><a class="botoes-nav" href="{% url 'mostra_estoque' %}">Estoque</a></li>
        <li><a class="btn" href="{% url 'logout' %}">Logout</a></li>
        </ul>
      </nav>
    </header>

      <div class="header">
        <div class="busca-produto">
          <input type="text" name="search" placeholder="Buscar produto">
        </div>
        <div class="quantidade">
          <a class="btn-barra-pesquisa" href="{% url 'cadastro_produtos' %}">Adicionar</a>
        </div>
      </div>      

            
    <div class="tabela">
      <table>
        <tr>
          <th style="min-width: 180px;">Nome</th>
          <th>Código de Barras</th>
          <th>Preço</th>
          <th style="text-align: center;">Situação</th>
          <th style="text-align: center;">Editar</th>
          {% for produto in produtos %}
          <tr>
            <td>{{produto.nome}}</td>
            <td>{{produto.codigo_de_barras}}</td>
            <td>{{produto.preco}}</td>
            {% if produto.situacao %}
                <td style="color: green; text-align: center;">Ativo</td>
            {% else %}
                <td style="color: red; text-align: center;">Inativo</td>
            {% endif %}
            <td style="text-align: center;">
              <a href="{% url 'editar_produto' produto.id%}"><img width="28px" src="https://i.imgur.com/NjqLJ32.png"></a>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>

      {% if messages %}
        <div class="popup">
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <p class="success">{{ message }}</p>
                {% elif message.tags == 'error' %}
                    <p class="error">{{ message }}</p>
                {% else %}
                    <p>{{ message }}</p>
                {% endif %}
            {% endfor %}
        </div>
      {% endif %}

      <script>
        var input = document.querySelector('.busca-produto input[type="text"]');
        var table = document.querySelector('table');

        input.addEventListener('input', function() {
          var searchText = input.value.toLowerCase();

          var rows = table.querySelectorAll('tr:not(:first-child)');

          // Itera sobre as linhas da tabela
          rows.forEach(function(row) {
            var name = row.cells[0].textContent.toLowerCase(); 

            if (name.includes(searchText)) {
              row.style.display = '';
            } else {
              row.style.display = 'none';
            }
          });
        });
      </script>

      <!-- Poup sumir -->
      <script>
        const successMessage = document.querySelector('.success');
        const errorMessage = document.querySelector('.error');

        if (successMessage) {
            const duration = 3000;

            setTimeout(function() {
                successMessage.style.display = 'none';
            }, duration);
        }

        if (errorMessage) {
            const duration = 3000;

            setTimeout(function() {
                errorMessage.style.display = 'none';
            }, duration);
        }
      </script>
    </body>
</html>
