{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Página Principal</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap">
    <link rel="icon" href="{% static 'img/logo-sci-site.png'%}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css" rel="stylesheet" />

</head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2d3560;">
            <!-- Container wrapper -->
            <div class="container">
            <!-- Navbar brand -->
            <a class="navbar-brand me-2" href="{% url 'dashboard' %}" >
                <img
                width="150px"
                src="https://www.sci.com.br/arquivo/banner/56/95294737.png"
                alt="MDB Logo"
                loading="lazy"
                style="margin-top: -1px;"
                />
            </a>
        
            <!-- Toggle button -->
            <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarButtonsExample"
                aria-controls="navbarButtonsExample"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>
        
            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarButtonsExample">
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        
                    </li>
                </ul>
                <!-- Left links -->
        
                <div class="d-flex align-items-center">
                <a href="{% url 'gerar_relatorios' %}" class="px-3 me-2" style="color: white;">
                    RELATÓRIOS
                </a>
                <a href="{% url 'mostra_produtos' %}" class="px-3 me-2" style="color: white;">
                    PRODUTOS
                </a>
                <a href="{% url 'mostra_estoque' %}" class="px-3 me-2" style="color: white;">
                    ESTOQUE
                </a>
                <a href="{% url 'mostra_colabs' %}" class="px-3 me-2" style="color: white;">
                    COLABORADORES
                </a>
                {% if user.is_superuser %}
                <a href="{% url 'mostra_usuario' %}" class="px-3 me-2" style="color: white;">
                    USUÁRIOS
                </a>
                {% endif %}
                <a href="{% url 'logout' %}" class="btn btn-secondary me-3" style="background-color: white;">
                    Logout
                </a>
                </div>
            </div>
            <!-- Collapsible wrapper -->
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
        
        <div class="container-fluid">
            <div class="row">
                <div class="col col-lg-3">
                    <div class="card text-center mt-5" style="margin-left: 50px;">
                        <div class="card-header" style="background-color: #2d3560; color: white; font-weight: 800;">Produtos em Alerta</div>
                            <div class="card-body">
                                <div class="container">
                                    <table class="table align-middle mb-0">
                                        <tbody>
                                        {% for produto in estoque%}
                                            <tr style="font-size: 17px;">
                                                <td>
                                                <div class="d-flex align-items-center">
                                                    <p class="fw-normal mb-1">{{produto.nome_produto}}</p>
                                                </div>
                                                </td>
                                                <td>
                                                <p class="fw-bold mb-1">{{produto.quantidade}}</p>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        {% if qtd_estoque > 0%}
                                        <tr style="font-size: 17px;">
                                            <td>
                                            <div class="d-flex align-items-center">
                                                <p style="color:#2d3560" class="fw-bold mb-1">Mais</p>
                                            </div>
                                            </td>
                                            <td>
                                            <p style="color: #2d3560;" class="fw-bold mb-1">{{qtd_estoque}}</p>
                                            </td>
                                        </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        <div class="card-footer" style="background-color: rgb(253, 253, 253);">
                            <a href="{% url 'mostra_estoque' %}" class="btn btn-primary" style="background-color: #2d3560; box-shadow: none;">REABASTECER</a>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-3">
                    <div class="card text-center mt-5" style="margin-left: 50px;">
                        <div class="card-header" style="background-color: #2d3560; color: white; font-weight: 800;">Últimas Compras</div>
                            <div class="card-body">
                                <div class="container">
                                    <table class="table align-middle mb-0">
                                        <tbody>
                                        {% for compra in compras%}
                                            <tr style="font-size: 17px;">
                                                <td>
                                                <div class="d-flex align-items-center">
                                                    <p class="fw-normal mb-1">{{compra.colab_id.nome}}</p>
                                                </div>
                                                </td>
                                                <td>
                                                <p class="fw-bold mb-1">{{compra.data_compra|time:'H:i'}}</p>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        <div class="card-footer" style="background-color: rgb(253, 253, 253);">
                            <a href="{% url 'gerar_relatorios' %}" class="btn btn-primary" style="background-color: #2d3560; box-shadow: none;">RELATÓRIOS</a>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-6">
                    <div class="card text-center mt-5" style="margin-left: 50px; width: 780px;">
                        <div class="card-header" style="background-color: #2d3560; color: white; font-weight: 800;">Colaboradores</div>
                        <div class="card-body">
                            <div class="container">
                                <table class="table align-middle mt-0">
                                    <tbody>
                                    {% for colab in colabs%}
                                        <tr style="font-size: 17px;">
                                            <td>
                                            <div class="d-flex align-items-center">
                                                <p class="fw-bold mb-1">{{colab.nome}}</p>
                                            </div>
                                            </td>
                                            <td>
                                            <p class="fw-normal mb-1">{{colab.email}}</p>
                                            </td>
                                            <td style="text-align: center;">
                                                <span class="badge badge-success d-flex" style="width: 50px; text-align: center; justify-content: center; font-size: 12px;">ATIVO</span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer" style="background-color: rgb(253, 253, 253);">
                            <a href="{% url 'mostra_colabs' %}" class="btn btn-primary" style="background-color: #2d3560; box-shadow: none;">VER MAIS</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5" style="margin-left: 50px;">
                <div class="col col-lg-3">
                    <a href="{% url 'cadastro_produtos'%}">
                        <div class="card text-center mt-5" style="margin-left: 0px; border-left: 15px solid #2d3560; width: 370px;">
                            <div class="card-body">
                                <h2 style="color: #2d3560;">Cadastrar Produto</h2>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col col-lg-3">
                    <a href="{% url 'cadastro_usuario'%}">
                        <div class="card text-center mt-5" style="margin-left: 10px; border-left: 15px solid #2d3560; width: 370px;">
                            <div class="card-body">
                                <h2 style="color: #2d3560;">Cadastrar Usuário</h2>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col col-lg-3">
                    <a href="{% url 'cadastro_usuario'%}">
                        <div class="card text-center mt-5" style="margin-left: 10px; border-left: 15px solid #2d3560; width: 370px;">
                            <div class="card-body">
                                <h2 style="color: #2d3560;">Cadastrar Colab</h2>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col col-lg-3">
                    <a href="{% url 'cadastro_usuario'%}">
                        <div class="card text-center mt-5" style="margin-left: 10px; border-left: 15px solid #2d3560; width: 370px;">
                            <div class="card-body">
                                <h2 style="color: #2d3560;">Reports <img width="30px" src="https://i.imgur.com/xMSDkzI.png"></h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        


        <footer class="text-center text-lg-start bg-white text-muted fixed-bottom" style="border-top: 10px solid rgb(218, 203, 0);">
            <!-- Copyright -->
            <div class="text-center p-4" style="background-color: #2d3560; color: white;">
              © 2023 Copyright:
              <a class="text-reset fw-bold">SCI Sistemas Contábeis</a>
            </div>
            <!-- Copyright -->
        </footer>

    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
      </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
      integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous">
      </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>