{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css" rel="stylesheet" />

    <title>Cadastro Colabs</title>
</head>
<body>
    
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2d3560;">
        <!-- Container wrapper -->
        <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2" href="https://mdbgo.com/" >
            <img
            width="150px"
            src="https://www.sci.com.br/arquivo/banner/56/95294737.png"
            alt="MDB Logo"
            loading="lazy"
            style="margin-top: -1px;"
            />
        </a>
    
        <!-- Toggle button -->
        <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarButtonsExample"
            aria-controls="navbarButtonsExample"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>
    
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    
                </li>
            </ul>
            <!-- Left links -->
    
            <div class="d-flex align-items-center">
            <a href="{% url 'gerar_relatorios' %}" class="px-3 me-2" style="color: white;">
                RELATÓRIOS
            </a>
            <a href="{% url 'mostra_produtos' %}" class="px-3 me-2" style="color: white;">
                PRODUTOS
            </a>
            <a href="{% url 'mostra_estoque' %}" class="px-3 me-2" style="color: white;">
                ESTOQUE
            </a>
            <a href="{% url 'mostra_colabs' %}" class="px-3 me-2" style="color: white;">
                COLABORADORES
            </a>
            <a href="{% url 'mostra_usuario' %}" class="px-3 me-2" style="color: white;">
                USUÁRIOS
            </a>
            <a href="{% url 'logout' %}" class="btn btn-secondary me-3" style="background-color: white;">
                Logout
            </a>
            </div>
        </div>
        <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->

    <div class="container justify-content-center align-items-center">
        <div class="row row-md-3 justify-content-center">
            <div class="col justify-content-center">
                {% if messages %}
                    <div class="alert alert-danger mt-4" role="alert"
                     style="padding: 6px; width: 200px; text-align: center; border-top: 7px solid red; height: 50px; margin: 0 auto; position:fixed; margin: 0 auto;">          
                        {% for message in messages %}
                            {% if message.tags == 'success' %}
                                {{ message }}
                            {% elif message.tags == 'error' %}
                                {{ message }}
                            {% else %}
                                <p>{{ message }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top: 170px;">
            <div class="col col-sm-4">
                <form method="POST">
                    {% csrf_token %}
                <div class="card text-center">
                    <div class="card-header" style="background-color: #2d3560; color: white; font-weight: 800;">Cadastro de Funcionários</div>
                        <div class="card-body">
                            <div class="container">
                                    <div class="form-outline mb-3">
                                        <input required value="{{nome|default_if_none:''}}" name="nome" type="text" id="nomeInput" class="form-control form-control-lg is-valid" style="color: rgba(0, 0, 0, 0.637);"/>
                                        <label class="form-label" for="nomeInput" style="color: rgb(0, 0, 0);">Nome Completo</label>
                                    </div>
                                    <div class="form-outline mb-3">
                                        <input required value="{{cpf|default_if_none:''}}" name="cpf" type="text" id="cpfInput" class="form-control form-control-lg cpf" style="color: rgba(0, 0, 0, 0.637);" maxlength="14"/>
                                        <label class="form-label" for="cpfInput" style="color: rgb(0, 0, 0);">CPF</label>
                                    </div>
                                    <div class="form-outline mb-3">
                                        <input required value="{{email|default_if_none:''}}" name="email" type="email" id="form3Example3" class="form-control form-control-lg" style="color: rgba(0, 0, 0, 0.637);"/>
                                        <label class="form-label" for="form3Example3" style="color: rgb(0, 0, 0);">Email</label>
                                    </div>
                                    <div class="form-outline mb-3">
                                        <input required value="{{login|default_if_none:'-'}}" name="login" type="text" id="loginInput" class="form-control form-control-lg" value=" " style="color: rgba(0, 0, 0, 0.637);"/>
                                        <label class="form-label" for="loginInput" style="color: rgb(0, 0, 0);">Login</label>
                                    </div>
                                    <input style="display: none;" type="password" id="senhaInput" name="senha" placeholder="Senha" value="senhapadrao" required>
                                    <div class="form-check">
                                        <input required class="form-check-input" name="situacao" type="checkbox" value="true" id="flexCheckDefault" checked/>
                                        <label class="form-check-label" for="flexCheckDefault">Colaborador Ativo</label>
                                    </div>
                            </div>
                        </div>
                    <div class="card-footer" style="background-color: rgb(253, 253, 253);">
                        <input type="submit" class="btn btn-primary" style="background-color: #2d3560; box-shadow: none;" value="Cadastrar">
                        <a href="{% url 'mostra_colabs' %}" class="btn btn-outline-primary" data-mdb-ripple-color="dark" style="color: #2d3560; border-color: #2d3560;">Voltar</a>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>

    <footer class="text-center text-lg-start bg-white text-muted fixed-bottom" style="border-top: 10px solid rgb(218, 203, 0);">
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: #2d3560; color: white;">
          © 2023 Copyright:
          <a class="text-reset fw-bold">SCI Sistemas Contábeis</a>
        </div>
        <!-- Copyright -->
    </footer>

    <script>
        function formatarCPF(cpf) {
            cpf = cpf.replace(/\D/g, '');
            cpf = cpf.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, '$1.$2.$3-$4');
            return cpf;
        }

        function mascararCPF(input) {
            var cpf = input.value;
            var cpfFormatado = formatarCPF(cpf);
            input.value = cpfFormatado;
        }

        function formatarNome() {
            var nomeInput = document.getElementById('nomeInput');
            var loginInput = document.getElementById('loginInput');

            var nome = nomeInput.value;
            var nomeFormatado = nome.toLowerCase().replace(/\b\w/g, function (char) {
                return char.toUpperCase();
            });
            var login = nome.replace(/\s+/g, '.').toLowerCase();

            loginInput.value = login;
            nomeInput.value = nomeFormatado;
        }

        var nomeInput = document.getElementById('nomeInput');
        nomeInput.addEventListener('input', formatarNome);

        var cpfInput = document.getElementById('cpfInput');
        cpfInput.addEventListener('input', function() {
            mascararCPF(this);
        });

    </script>

    <script>
        const successMessage = document.querySelector('.alert');
        const errorMessage = document.querySelector('.alert');

        if (successMessage) {
            const duration = 3000;

            setTimeout(function() {
                successMessage.style.display = 'none';
            }, duration);
        }

        if (errorMessage) {
            const duration = 3000;

            setTimeout(function() {
                errorMessage.style.display = 'none';
            }, duration);
        }
    </script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
      </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
      integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous">
      </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
